input {
  color: rgb(99, 86, 86);
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: inset 0px 0px 10px 0px #63404047; */
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  border: none;
  display: block;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  height: 40px;
  width: 228px;
  background-color: #63404047;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  margin-top: 20px;
}

button:hover {
  background-color: #451e1e47;
}
