section {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  border: 1px solid #63404047;
  border-radius: 10px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  background-color: #b86f6f47;
  padding-top: 40px;
  padding-bottom: 40px;
}
